body {
    width: 960px;
}

button {
    display: block;
    padding: 8px;
    margin: 8px auto;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.divElement {
    box-sizing: border-box; /* Assure que le padding et la bordure n'affectent pas la taille */
    border: 1px solid #000; /* Bordure entre les divs */
}